
/* // Home section  */

.header__section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.bg__img {
    width: 100%;
    height: 415px;
}

.bg__img img {
    width: 100%;
    object-fit: cover;
}

.bg__content {
    padding: 1rem 8%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.bg__content p {
    width: 70%;
    font-size: 1rem ;
    line-height: 1.5;
    color: #fff;
}

.buttons__bg {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.readMoreBtn {
    padding: 10px 20px;
    background-color: blue;
    color: #fff;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
}






.fixed__btns {
    position: absolute;
    top: -20px;
    left: 8%;
    display: flex;
    gap: 1rem;
}

.btn2 {
       padding: 10px 20px;
    background-color: white;
    color: #000;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
    display: flex;
    gap: 0.2rem;
    align-items: center;
    font-size: 0.8rem;
}

.readMoreBtn:hover {
    opacity: 0.9;
}


.arrow__up {
    padding: 2rem 1rem;
    border: 1px solid #fff;
    border-radius: 2rem;
    font-size: 1.2rem;
    color: #fff;
    background: #A17F86;
}

/* Services  */


.services__section {
    overflow-x: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .services__section h2 {
    padding: 0 8%;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
  }
  
  /* Swipper  */
  .swiper-container, .swiper-container2 {
    width: 100%;
    height: 500px;
  }
  
  
  .swiper-slide {
    width: 100%;
    height: 100%;
  }
  
  
  
  .swiper-slide .design__services__card {
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    cursor: pointer;
  }
  
  .design__services__card h2 {
    padding: 0;
    font-size: 32px;
  }
  
  .design__services__card p {
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
  }
  
  .readMore-button {
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 1rem;
    cursor: pointer;
  }



/* Portfolio  */
.portfolio__section {
    width: 100%;
    padding: 2rem 8%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.portfolio__section > h2 {
    font-size: 30px;
    color: #fff;
}

.images__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.img__wrapper {
    width: 48%;
}

.img__wrapper img {
    width: 100%;
    object-fit: cover;
}



@media only screen and (max-width: 375px) {
 
.bg__img {
    height: 100%;
}

.bg__content p {
    width: 100%;
}

.arrow__up {
    display: none;
}

}
